<div class="col-md-6">
    <h2>Change log:</h2>
    <h3>v1.3.0.0 (05/09/2019)</h3>
    <ul>
        <li>
            Benchmnark results can now be embedded into third party websites (via iframes)
        </li>
        <li>
            Latest benchmark run result now displayed directly on the benchmark page
        </li>
        <li>
            Improved website loading speed by removing unnecessary third party scripts.
        </li>
        <li>
            Changed website theme for better readability
        </li>
        <li>
            Number of UI tweaks and minor changes.
        </li>
    </ul>
    <h3>v1.0.48.0 (12/20/2017)</h3>
    <ul>
        <li>
            Release after long pause
        </li>
        <li>
            Improved performance
        </li>
        <li>
            Better pagination
        </li>
    </ul>
    <h3>v1.0.41.0 (9/9/2016)</h3>
    <ul>
        <li>
            Support local accounts (in addition to OpenId providers) (<a href="https://github.com/thecoderok/MeasureThat.net/issues/37" target="_blank">#37</a>)
        </li>
        <li>
            Multiple bug fixes.
        </li>
    </ul>
    <h3>v1.0.38.0 (9/7/2016)</h3>
    <ul>
        <li>
            Show info to the user that benchmark will be posted as guest and unable to edit (<a href="https://github.com/thecoderok/MeasureThat.net/issues/45" target="_blank">#45</a>)
        </li>
        <li>
            Edit button for the owner on the Show page (<a href="https://github.com/thecoderok/MeasureThat.net/issues/46" target="_blank">#46</a>)
        </li>
        <li>
            Fix alignment of the latest benchmarks & history sections on the home page bug (<a href="https://github.com/thecoderok/MeasureThat.net/issues/48" target="_blank">#48</a>)
        </li>
        <li>
            Use correct benchmark version when saving result bug (<a href="https://github.com/thecoderok/MeasureThat.net/issues/44" target="_blank">#44</a>)
        </li>
    </ul>
    <h3>v1.0.36.0 (9/2/2016)</h3>
    <ul>
        <li>
            Fixed bug with 404 error which made adding new benchmarks impossible (lesson learned: do not make late night deployment when tired :( ))
        </li>
    </ul>
    <h3>v1.0.34.0 (9/2/2016)</h3>
    <ul>
        <li>
            Ability to edit own benchmarks (user must be authenticated)
        </li>
    </ul>
    <br>
    <h3>v1.0.33.0 (9/1/2016)</h3>
    <ul>
        <li>
            Authentication not needed to create benchmarks
        </li>
        <li>
            Fixed bug when test case parsing (Server was unable to read input provided by user when user delted some test case.)
        </li>
        <li>
            "My" benchmarks now ordered by date when they were created.
        </li>
    </ul>
</div>