@{
    ViewData["Title"] = "Discussions & Feedback";
}

<div class="page-header">
    <h1>Discussions & Feedback</h1>
</div>

<div id="disqus_thread"></div>

<script src="https://https-www-measurethat-net.disqus.com/embed.js"></script>