@{
    ViewData["Title"] = "Discussions & Feedback";
}

<div class="page-header">
    <h1>Discussions & Feedback</h1>
</div>

<div id="disqus_thread"></div>

<script src="https://https-www-measurethat-net.disqus.com/embed.js"></script>

@section googleAutoAds{
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2889218219879125",
            enable_page_level_ads: true
        });
    </script>
}
