@using System.Threading.Tasks
@using MeasureThat.Net.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>MeasureThat.net&nbsp;<i class="fa fa-bar-chart" aria-hidden="true"></i></h1>
    <p class="lead">MeasureThat.net is the website to create and run JavaScript benchmarks. It uses <a target="_blank" href="https://benchmarkjs.com/">BenchmarkJS (v.2.1.1)</a> as a test runner.</p>
    <p>
        @{ await Html.RenderPartialAsync("_SharedCreateBenchmark"); }
        
        <a asp-controller="Benchmarks" asp-action="Latest" class="btn btn-default btn-lg">Latest benchmarks</a>
        <a asp-controller="Benchmarks" asp-action="My" class="btn btn-default btn-lg">Your benchmarks</a>
    </p>
</div>


<div class="col-md-4">
    <h2>Getting started</h2>
    <p>Just click "Create benchmark" button.</p>
</div>
<div class="col-md-4">
    <h2>Help to improve this website</h2>
    <p>Please report any issues or make suggestions on the projec'ts GitHub page. Also feel free to join development effort, source code available on GitHub.</p>
    <p><a target="_blank" class="btn btn-default" href="https://github.com/thecoderok/MeasureThat.net">GitHub/MeasureThat.net &raquo;</a></p>
</div>
<div class="col-md-4">
    <h2>Open Source & Cross platform</h2>
    <p>This website was built using Microsoft .Net Core and can be ran & developed on Windows/Linux/Mac. (instructions about how to get started in building and running it locally will be posted later)</p>
</div>

<div class="col-md-8">
    <h2>Sample benchmarks:</h2>
    <ul>
        <li>
            <a href="https://www.measurethat.net/Benchmarks/Show/1/demo-benchmark">Demo benchmark (example from benchmarkjs.com)</a>
        </li>
        <li>
            <a href="https://www.measurethat.net/Benchmarks/Show/2/caching-length-property-vs-getting-it-each-ti">Caching length property vs getting it each time in the loop</a>
        </li>
        <li>
            <a href="https://www.measurethat.net/Benchmarks/Show/3/jquery-by-id-vs-documentgetelementbyid">jQuery by id vs Document.getElementById</a>
        </li>
        <li>
            <a href="https://www.measurethat.net/Benchmarks/Show/4/ecmascript6-int16array-vs-regular-js-array">EcmaScript6 Int16Array vs regular JS array</a>
        </li>
        <li>
            <a href="https://www.measurethat.net/Benchmarks/Show/19/0/which-equals-operator-vs-is-faster">Which equals operator (== vs ===) is faster?</a>
        </li>
    </ul>
</div>
<hr/>
<div class="col-md-8">
    <h2>Change log:</h2>
    <h3>v1.0.38.0 (9/7/2016)</h3>
    <ul>
        <li>
            Show info to the user that benchmark will be posted as guest and unable to edit (<a href="https://github.com/thecoderok/MeasureThat.net/issues/45" target="_blank">#45</a>)
        </li>
        <li>
            Edit button for the owner on the Show page (<a href="https://github.com/thecoderok/MeasureThat.net/issues/46" target="_blank">#46</a>)
        </li>
        <li>
            Fix alignment of the latest benchmarks & history sections on the home page bug (<a href="https://github.com/thecoderok/MeasureThat.net/issues/48" target="_blank">#48</a>)
        </li>
        <li>
            Use correct benchmark version when saving result bug (<a href="https://github.com/thecoderok/MeasureThat.net/issues/44" target="_blank">#44</a>)
        </li>
    </ul>
    <h3>v1.0.36.0 (9/2/2016)</h3>
    <ul>
        <li>
            Fixed bug with 404 error which made adding new benchmarks impossible (lesson learned: do not make late night deployment when tired :( ))
        </li>
    </ul>
    <h3>v1.0.34.0 (9/2/2016)</h3>
    <ul>
        <li>
            Ability to edit own benchmarks (user must be authenticated)
        </li>
    </ul>
    <br>
    <h3>v1.0.33.0 (9/1/2016)</h3>
    <ul>
        <li>
            Authentication not needed to create benchmarks
        </li>
        <li>
            Fixed bug when test case parsing (Server was unable to read input provided by user when user delted some test case.)
        </li>
        <li>
            "My" benchmarks now ordered by date when they were created.
        </li>
    </ul>
</div>

