@{
    ViewData["Title"] = "Pyodide benchmarks support";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="page-header">
            <h1>Pyodide benchmarks support</h1>
        </div>
        <div class="pyodide-content">pyodide-content</div>
    </div>
</div>