@{
    Layout = null;
}

<html>
<head>
    <title>ASP.NET Core: AngularJS 2 Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Angular2 libraries -->
    <script src="/js/lib/angular2-polyfills.js"></script>
    <script src="/js/lib/system.src.js"></script>
    <script src="/js/lib/Rx.js"></script>
    <script src="/js/lib/angular2.js"></script>

    <!-- Bootstrap via SystemJS -->
    <script>
        System.config({
            packages: {
                "js": {
                    defaultExtension: 'js'
                }
            }
        });
        System.import('js/main')
            .then(null, console.error.bind(console));
    </script>
</head>

<body>
    <!-- Application PlaceHolder -->
    <my-app>Please wait...</my-app>
</body>
</html>  
