@using MeasureThat.Net.Logic.Web
@model List<MeasureThat.Net.Data.Models.Benchmark>

<div class="panel panel-default">
    <div class="panel-heading">
        <b>Related benchmarks:</b> 
    </div>
    <div class="panel-body">
        <ul>
            @foreach (var benchmark in Model)
            {
                <li>
                    <a asp-action="Show" asp-route-id="@benchmark.Id" asp-route-version="@benchmark.Version" asp-route-name="@SeoFriendlyStringConverter.Convert(benchmark.Name)">@benchmark.Name</a>
                </li>
            }
        </ul>
    </div>
</div>


