<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Quick HTML Snippets: <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a data-role="insert-snippet" data-target="HtmlPreparationCode" data-text="<div id=''></div>">&lt;div/&gt;</a></li>
        <li><a data-role="insert-snippet" data-target="HtmlPreparationCode" data-text="<a id='' href='#' />">&lt;a/&gt;</a></li>
        <li><a data-role="insert-snippet" data-target="HtmlPreparationCode" data-text="<canvas id='' width='' height=''></canvas>">&lt;canvas/&gt;</a></li>
        <li><a data-role="insert-snippet" data-target="HtmlPreparationCode" data-text="<script src=''></script>">&lt;script&gt;</a></li>
    </ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Reference popular libraries: <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a data-role="insert-snippet" data-target="HtmlPreparationCode" data-text="<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js'></script>">jQuery</a></li>
        <li><a data-role="insert-snippet" data-target="HtmlPreparationCode" data-text="<script src='https://cdnjs.cloudflare.com/ajax/libs/react/18.3.1/cjs/react.production.min.js'></script>">React.JS</a></li>
        <li><a data-role="insert-snippet" data-target="HtmlPreparationCode" data-text="<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js'></script>">lodash</a></li>
        <li><a data-role="insert-snippet" data-target="HtmlPreparationCode" data-text="<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js'></script>">moment.js</a></li>
        <li><a data-role="insert-snippet" data-target="HtmlPreparationCode" data-text="<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js'></script>">Chart.js</a></li>
        <li><a data-role="insert-snippet" data-target="HtmlPreparationCode" data-text="<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js'></script>">jqueryui</a></li>
        <li><a data-role="insert-snippet" data-target="HtmlPreparationCode" data-text="<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.7/underscore-min.js'></script>">underscore.js</a></li>
        <li><a data-role="insert-snippet" data-target="HtmlPreparationCode" data-text="<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.js'></script>">d3</a></li>
    </ul>
</div>
<button type="button" class="btn btn-default" data-format-type="html" data-role="format-input" data-target="HtmlPreparationCode" id="format_html">
    Format HTML
</button>