<ul>
    <li><a asp-controller="Tools" asp-action="JSONBeautify">JSON Beautifier</a></li>
    <li><a asp-controller="Tools" asp-action="JSONMinify">JSON Minifier</a></li>
    <li><a asp-controller="Tools" asp-action="JavaScriptBeautify">JavaScript Beautifier</a></li>
    <li><a asp-controller="Tools" asp-action="HTMLBeautify">HTML Beautifier</a></li>
    <li><a asp-controller="Tools" asp-action="CSSBeautify">CSS Beautifier</a></li>
    <li><a asp-controller="Tools" asp-action="FormatSQL">SQL Formatter</a></li>
    <li><a asp-controller="Tools" asp-action="WhoisLookup">Whois Domain Lookup</a></li>
    <li><a asp-controller="Tools" asp-action="GetIPAddressesByHostName">Hostname to IP Address Lookup</a></li>
    <li><a asp-controller="Tools" asp-action="GetHostsByIPAddress">IP Address to Host Names lookup</a></li>
    <li><a asp-controller="Tools" asp-action="URLEncode">URL Encode</a></li>
    <li><a asp-controller="Tools" asp-action="URLDecode">URL Decode</a></li>
    <li><a asp-controller="Tools" asp-action="Base64Encode">Base64 Encode</a></li>
    <li><a asp-controller="Tools" asp-action="Base64Decode">Base64 Decode</a></li>
</ul>