<div class="text-center">
    <button class="show-comments btn btn-default"><i class="fa fa-comments" aria-hidden="true"></i>&nbsp;Comments</button>
</div>
<!-- The empty element required for Disqus to loads comments into -->
<div id="disqus_thread"></div>
