@using MeasureThat.Net.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Configuration
@inject SignInManager<ApplicationUser> SignInManager
@inject IConfiguration config

@if (SignInManager.IsSignedIn(User) || bool.Parse(config["AllowGuestUsersToCreateBenchmarks"]))
{
    <a asp-controller="Benchmarks" asp-action="Add" class="btn btn-primary btn-lg"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create</a>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create benchmark</a>
}
