<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModal-label">About</h4>
            </div>
            <div class="modal-body">
                <h2>JavaScript performance benchmarks</h2>
                <p><b>Source code:</b> <a href="https://github.com/thecoderok/BenchmarkLab">GitHub/BenchmarkLab</a></p>
                <p><b>Report issues:</b> <a href="https://github.com/thecoderok/BenchmarkLab/issues">BenchmarkLab/Issues</a>
                <p><b>Based on:</b> <a href="https://benchmarkjs.com/">Benchmark.js</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="authenticateModal" tabindex="-1" role="dialog" aria-labelledby="authenticateModal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="authenticateModal-label">Log in using external service:</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                @await Html.PartialAsync("MiniLogin.cshtml")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
