@model MeasureThat.Net.Models.BenchmarkResultDto

<button type="button" class="btn btn-default" data-toggle="modal" data-target="#embedBenchmarkDialog">
  Embed
</button>

<div class="modal fade" id="embedBenchmarkDialog" tabindex="-1" role="dialog" aria-labelledby="embedBenchmark">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Embed Benchmark Result</h4>
      </div>
      <div class="modal-body">
        <textarea style="width: 100%; height: 100%" readonly><iframe src="https://measurethat.net/Embed?id=@Model.Id" width="100%" height="500px"></iframe></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
