@using System.Security.Cryptography
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<hr/>
<div class="alert alert-info" role="alert">
    This error page is not very useful yet.<br>
    There is an open issue to improve it: <a target="_blank" href="https://github.com/thecoderok/MeasureThat.net/issues/36">Proper error pages for exceptions #36</a>
</div>
