@inject Microsoft.Extensions.Configuration.IConfiguration configuration

@{
    ViewData["Title"] = "Benchmark";
}

@using (Html.BeginForm("Dummy", "Benchmarks")) { 
    <div class="g-recaptcha" data-sitekey="@(configuration["ReCaptcha:SiteKey"])"></div>
    <br>
    <input type="submit" value="Submit" />
}

@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>   
}