@using Microsoft.AspNetCore.Identity
@using BenchmarkLab.Logic.Web
@model IEnumerable<NewBenchmarkModel>

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Benchmarks";
}

<div class="page-header">
    <h1>All benchmarks</h1>
</div>

<table class="table table-striped">
@foreach (var b in Model)
{
<tr>
    <td>@b.BenchmarkName</td>
    <td><a asp-action="Show" asp-route-id="@b.Id" asp-route-name="@SeoFriendlyStringConverter.Convert(b.BenchmarkName)">Ta-da</a></td>    
</tr>
}
</table>

@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="Benchmarks" asp-action="Add" class="btn btn-default">Create new benchmark</a>
}
else
{
    <a data-toggle="modal" data-target="#authenticateModal" href="#" class="btn btn-default">Create new benchmark</a>
}
