@using BenchmarkLab.Models
@using System.Text.Json

@model MeasureThat.Net.Models.BenchmarkDto

@{
    Layout = null;
    MeasureThatBenchmark measureThatBenchmark = BenchmarkMapper.ToMeasureThatBenchmark(Model);
    string jsonString = JsonSerializer.Serialize(measureThatBenchmark);
}


<script src="~/lib/lodash/dist/lodash.js"></script>
<script src="~/lib/platform/platform.js"></script>
<script src="~/lib/benchmark/benchmark.js"></script>
<script src="~/js/testrunner.js" asp-append-version="true"></script>
@if(Model.IsPython) {
    <script src="https://cdn.jsdelivr.net/pyodide/v0.26.3/full/pyodide.js"></script>
}

@if (!string.IsNullOrWhiteSpace(Model.HtmlPreparationCode))
{
    <span>@Html.Raw(Model.HtmlPreparationCode)</span>
}

<div id="validation-html-preparation"></div>

<script type="text/javascript">
    pageController = new TestRunnerController();
</script>
<textarea id="benchmark_definition_json" style="display:none">
    @jsonString
</textarea>

<form style="display:none;" id="autoreload_form" action="/Benchmarks/TestFrameForValidationWithHtmlPrepCode?autostart=1" method="post">
    <input type="hidden" name="htmlPrepCode" id="htmlPrepCode">
</form>