@{
    ViewData["Title"] = "Benchmark";
}

@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LezciITAAAAAM8yvrfrR23FDpltM8Luz9QB_8O0"></div>
}