@{
    ViewData["Title"] = "Benchmark";
}

@using (Html.BeginForm("Dummy", "Benchmark")) { 
    <div class="g-recaptcha" data-sitekey="6LezciITAAAAAM8yvrfrR23FDpltM8Luz9QB_8O0"></div>
    <input type="submit" value="Submit" />
}

@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>   
}