@{ 
    var actionButtonName = "Format";
    if (ViewData.ContainsKey("ButtonNameOverride"))
    {
        actionButtonName = (string) ViewData["ButtonNameOverride"];
    }
}
<div class="panel panel-default">

    <div class="panel-heading"><b>Raw input:</b></div>

    <div class="panel-body">
        <textarea placeholder="Raw input goes here" rows="15" id="raw_input" class="form-control" spellcheck="false"></textarea>
        <br />
        <div class="btn-group btn-group-justified" role="group">
            <a id="btn_format" class="btn btn-primary">@actionButtonName</a>

            <a id="btn_clear_all" class="btn btn-info">Clear all</a>
        </div>
        <br />
        <div class="alert alert-danger" id="error_message" style="display:none;" role="alert"></div>
    </div>
</div>
@await Html.PartialAsync("_SharedAds")
<div class="panel panel-default">
    <div class="panel-heading"><b>Output:</b></div>
    <div class="panel-body">
        <textarea rows="15" id="formatted_output_text" style="display:none" class="form-control" spellcheck="false"></textarea>
    </div>
</div>
