@{
    ViewData["Title"] = "Beautify CSS Online";
}

<div class="page-header">
    <h1>Beautify CSS: <small>Format CSS Online</small></h1>
</div>

@{await Html.RenderPartialAsync("_OnlineToolsSharedDOM");}

<script type="text/javascript">
    function getLanguage() {
        return "css";
    }

    function doFormatImpl() {
        return css_beautify(document.getElementById(raw_input_element_name).value);
    }
</script>

@section Styles{
    @{await Html.RenderPartialAsync("_OnlineToolsStyles");}
}

@section Scripts {
    @{await Html.RenderPartialAsync("_OnlineToolsScripts");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautify-css.min.js"></script>
}