@{
    ViewData["Title"] = "Beautify HTML Online";
}

<div class="page-header">
    <h1>Beautify HTML: <small>Format HTML Online</small></h1>
</div>

@{await Html.RenderPartialAsync("_OnlineToolsSharedDOM");}

@section Styles{
    @{await Html.RenderPartialAsync("_CodeMirrorStyles");}
}

@section Scripts {
    @{await Html.RenderPartialAsync("_OnlineToolsScripts");}
    @{await Html.RenderPartialAsync("_CodeMirrorScripts");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautify-html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.50.2/mode/htmlmixed/htmlmixed.min.js" integrity="sha256-9Dta/idKg17o/o0a3PEsL6JjkYvijj9UMh3Z86HhUcg=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        function getLanguage() {
            return "htmlmixed";
        }

        function doFormatImpl() {
            return html_beautify(document.getElementById(raw_input_element_name).value);
        }
    </script>
}