@{
    ViewData["Title"] = "Beautify HTML Online";
}

<div class="page-header">
    <h1>Beautify HTML: <small>Format HTML Online</small></h1>
</div>

@{await Html.RenderPartialAsync("_OnlineToolsSharedDOM");}

@section Styles{
    @{await Html.RenderPartialAsync("_OnlineToolsStyles");}
    @{await Html.RenderPartialAsync("_CodeMirrorStyles");}
}

@section Scripts {
    @{await Html.RenderPartialAsync("_OnlineToolsScripts");}
    @{await Html.RenderPartialAsync("_CodeMirrorScripts");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautify-html.min.js"></script>

    <script type="text/javascript">
        function getLanguage() {
            return "html";
        }

        function shouldOutputToTextarea() {
            // TODO: refactor this hack
            // Some html elements can't be placed in <pre> tags and get
            // stripped out by browsers. So we need to put them into text area
            return true;
        }

        function doFormatImpl() {
            return html_beautify(document.getElementById(raw_input_element_name).value);
        }
    </script>
}