@{
    ViewData["Title"] = "Free online tools";
}

<div class="page-header">
    <h1>Free online tools</h1>
</div>

<ul>
    <li><a asp-controller="Tools" asp-action="JSONBeautify">JSON Beautifier</a></li>
    <li><a asp-controller="Tools" asp-action="JSONMinify">JSON Minifier</a></li>
    <li><a asp-controller="Tools" asp-action="JavaScriptBeautify">JavaScript Beautifier</a></li>
    <li><a asp-controller="Tools" asp-action="HTMLBeautify">HTML Beautifier</a></li>
    <li><a asp-controller="Tools" asp-action="CSSBeautify">CSS Beautifier</a></li>
    <li><a asp-controller="Tools" asp-action="FormatSQL">SQL Formatter</a></li>
    <li><a asp-controller="Tools" asp-action="WhoisLookup">Whois Domain Lookup</a></li>
</ul>