@{
    ViewData["Title"] = "Beautify JavaScript Online";
}

<div class="page-header">
    <h1>Beautify JavaScript: <small>Beautify JavaScript Online</small></h1>
</div>

@{await Html.RenderPartialAsync("_OnlineToolsSharedDOM");}

<script type="text/javascript">
    function getLanguage() {
        return "js";
    }

    function doFormatImpl() {
        return js_beautify(document.getElementById(raw_input_element_name).value);
    }
</script>

@section Styles{
    @{await Html.RenderPartialAsync("_OnlineToolsStyles");}
}

@section Scripts {
    @{await Html.RenderPartialAsync("_OnlineToolsScripts");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautify.js"></script>
}