@{
    ViewData["Title"] = "Minify JSON Online";
}

<div class="page-header">
    <h1>Minify JSON: <small>Minify JSON Online</small></h1>
</div>

@{await Html.RenderPartialAsync("_OnlineToolsSharedDOM");}

@section Styles{
    @{await Html.RenderPartialAsync("_CodeMirrorStyles");}
}

@section Scripts {
    @{await Html.RenderPartialAsync("_OnlineToolsScripts");}
    @{await Html.RenderPartialAsync("_CodeMirrorScripts");}

    <script type="text/javascript">
        function getLanguage() {
            return "javascript";
        }

        function doFormatImpl() {
            return JSON.stringify(JSON.parse(document.getElementById(raw_input_element_name).value));
        }
    </script>

}