@{
    ViewData["Title"] = "Minify JSON Online";
}

<div class="page-header">
    <h1>Minify JSON: <small>Minify JSON Online</small></h1>
</div>

@{await Html.RenderPartialAsync("_OnlineToolsSharedDOM");}

<script type="text/javascript">
    function getLanguage() {
        return "json";
    }

    function doFormatImpl() {
        return JSON.stringify(JSON.parse(document.getElementById(raw_input_element_name).value));
    }
</script>

@section Styles{
    @{await Html.RenderPartialAsync("_OnlineToolsStyles");}
}

@section Scripts {
    @{await Html.RenderPartialAsync("_OnlineToolsScripts");}
}