body {
    padding-top: 50px;
    padding-bottom: 140px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 1200px) {
  body { padding-top: 120px; }
}
@media screen and (max-width: 767px) {
  body { padding-top: 50px; }
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.CodeMirror {
    /* Bootstrap Settings */
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    overflow: auto;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* Code Mirror Settings */
    font-family: monospace;
    position: relative;
    overflow: hidden;
    height: auto !important;
    max-height: 1200px;
}

.CodeMirror-focused {
    /* Bootstrap Settings */
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.CodeMirror-scroll {
    height: auto;
    max-height: 1200px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

/*CarbonAds:start*/
#carbonads {
    font-family: var(--font-body);
    display: flex;
    
    bottom: 30px;
    right: 30px;
    max-width: 330px;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, .1);
    z-index: 999;
}

    #carbonads a {
        text-decoration: none
    }

        #carbonads a, #carbonads a:hover {
            color: inherit
        }

    #carbonads span {
        position: relative;
        display: block;
        overflow: hidden
    }

    #carbonads .carbon-wrap {
        display: flex
    }

.carbon-img {
    display: block;
    margin: 0;
    line-height: 1;
}

    .carbon-img img {
        display: block;
    }

.carbon-text {
    font-size: 13px;
    padding: 10px;
    line-height: 1.5;
    text-align: left;
}

.carbon-poweredby {
    display: block;
    padding: 8px 10px;
    background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 600;
    font-size: 9px;
    line-height: 1;
}

@media (min-width: 320px) and (max-width:480px) {
    #carbonads {
        bottom: 0;
        right: 0;
        width: 100%;
        max-width: 480px;
    }
}

@media (min-width: 481px) {
    #carbonads {
        bottom: 0;
        right: 0;
        width: 100%;
        max-width: 480px;
        position: fixed;
    }
}

/*CarbonAds:end*/