<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9abb1bbc-9756-43ad-8275-0d461c2798ad/resourceGroups/Default-ApplicationInsights-CentralUS/providers/Microsoft.Web/sites/BenchmarkLab</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://benchmarklab.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <MSDeployServiceURL>benchmarklab.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BenchmarkLab</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <UserName>$BenchmarkLab</UserName>
    <_SavePWD>true</_SavePWD>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net8.0</TargetFramework>
    <ProjectGuid>ca0487a6-328f-4714-beaf-c59ef242f375</ProjectGuid>
    <SelfContained>false</SelfContained>
    <_IsPortable>true</_IsPortable>
    <RemoteSitePhysicalPath />
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
  </PropertyGroup>
</Project>